//Header 
header {
    background-color: #ffffff;
    width: 100%;

    .contenedor-fondo {
        background-image: url("../images/local/local.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        height: 750px;
        width: 100%;
        object-fit: cover;
        position: relative;

        .contenedor-logo {
            img {
                width: 180px;
                filter: drop-shadow(0 0 20px #ffffff);
                position: relative;
                bottom: 30px;
                z-index: 2;
            }
        }

       button {
        .navbar-toggler {
            box-shadow: 0 0 5px #e1e2e691;
        }

        #toggler-alineacion-hamburguesa {
            margin-bottom: 100px;
        }
    }

    .offcanvas {
        background-color: #00001d;

        .offcanvas-body {
            margin-left: auto;
        }
        
        #navbar-alineacion {
            padding-bottom: 90px;
        }

        .navbar-nav .nav-link {
            color: rgba(255, 255, 255, 0.904);
            font-size: 20px;
            padding-top: 10px;
            text-shadow: 0 0 4px #eee9ddcb;
            letter-spacing: 1.5px;
        }
        
    }

    .capa {
        min-height: 100%;
        opacity: 0.9;
        mix-blend-mode: overlay;
        z-index: 1;
    }

    }
}

@media only screen and (max-width: 370px) {
    header {
        .contenedor-fondo {
            .navbar {
                .container-fluid {
                    .contenedor-logo {
                        img {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    header {
        .contenedor-fondo {
            .navbar {
                .container-fluid {
                    #toggler-alineacion-hamburguesa {
                        margin-bottom: 100px;
                    }
                }
            }
        }
    }
}
