//Main del contacto 
main {

         .h1-contacto {
            color: #e1e2e6;
            text-shadow: 0 0 5px #c0c0c7;
            font-size: 25px;
            font-weight: 700;
            text-align: center;
            padding: 35px;
            background-color: #00001d;
            text-transform: uppercase;
            border: none;
            position: sticky;
            top: 0;
            margin-bottom: 0;
            z-index: 3;
        }

        .contenedor-div {
            background-color: $main-color;
            display: flex;
            justify-content: center;
            align-items: center; 
            gap: 40px;

            .contenedor-section {
                background-color: #000000;
                width: 350px;
                height: 530px;
                box-shadow: 0 0 15px #000000;
                margin: 30px 0;

                &:hover {
                    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);;
                }

                .formulario {
                    padding-top: 115px;

                    .h2-form {
                        letter-spacing: 2px;
                        font-size: 26px;
                        text-shadow: 0 0 10px #ffffff69; 
                        color: $light-color;
                        text-align: center;
                        text-transform: uppercase;
                    }
    

                    .container-formulario {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin-top: 30px;

                        .container-formulario div {
                            width: 60%;
                        }

                        label {
                            display: block;
                            text-align: center;
                            color: $light-color;
                            font-size: 20px;
                            padding-bottom: 7px;

                        }

                        input {
                            width: 100%;
                            margin-bottom: 3px;
                            position: relative;
                            border-radius: 25px;
                            border: 1px solid #1f036d;
                        
                            &::placeholder {
                                color: #414040f8; 
                                text-align: center;
                            }
                        }
                        
                        &:hover {
                            transform: scale(0.98);
                        }

                            .container-btn {
                                display: flex;
                                justify-content: center;
                                
                                .btn-contacto {
                                    
                                    @extend %btn;
    
                                    &:hover {
                                        color: $light-color;
                                        background: $main-color;
                                        border: 1px solid #333349;
                                        text-shadow: 0 0 5px #ffffffde, 0 0 10px #ffffffee, 0 0 20px #ffffffea;
                                        box-shadow: 0 0 5px $main-color, 0 0 20px #333349, 0 0 50px #333349,
                                          0 0 100px #333349;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                    }
                }

            .contenedor-section2 {
                background-color: #000000;
                width: 350px;
                height: 530px;
                box-shadow: 0 0 15px #000000;
                margin: 30px 0;
    
                &:hover {
                    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);;
                }
    
                .formulario2 {
                        padding-top: 50px;
    
                    .h2-form2 {
                        letter-spacing: 2px;
                        font-size: 26px;
                        text-shadow: 0 0 10px #ffffff69; 
                        color: $light-color;
                        text-align: center;
                        text-transform: uppercase;
                    }
        
    
                    .container-formulario {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin-top: 30px;
    
                        .container-formulario div {
                            width: 60%;
                        }
    
                        label {
                            display: block;
                            text-align: center;
                            color: $light-color;
                            font-size: 20px;
                            padding-bottom: 7px;
    
                        }
    
                        input {
                            width: 100%;
                            margin-bottom: 3px;
                            position: relative;
                            border-radius: 25px;
                            border: 1px solid #1f036d;
                            
                            &::placeholder {
                                color: #414040f8; 
                                text-align: center;
                            }
                        }
                            
                        &:hover {
                            transform: scale(0.98);
                        }
    
                            .container-btn {
                                display: flex;
                                justify-content: center;
                                    
                                .btn-contacto {
                                        
                                    @extend %btn;
        
                                    &:hover {
                                        color: $light-color;
                                        background: $main-color;
                                        border: 1px solid #333349;
                                        text-shadow: 0 0 5px #ffffffde, 0 0 10px #ffffffee, 0 0 20px #ffffffea;
                                        box-shadow: 0 0 5px $main-color, 0 0 20px #333349, 0 0 50px #333349,
                                              0 0 100px #333349;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    @media only screen and (max-width:1120px) {

        .contenedor-div {
            flex-direction: column;

            .contenedor-section, .contenedor-section2 {

                .formulario, .formulario2 {

                    .container-formulario {

                        label {
                            font-size: 18px;
                        }

                        input {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

main {
    
    @media only screen and (max-width:400px) {

        .contenedor-div {
            flex-direction: column;

            .contenedor-section, .contenedor-section2 {
                width: 260px;
            }
        }
    }

    @media only screen and (max-width:550px) {

        .contenedor-div {
            flex-direction: column;

            .formulario {
                margin-top: -45px;
            }

            .contenedor-section {
                height: 430px;

            }
        }
    }
}
