//Main de productos
main{

    .h1-especial2 {
        color: #e1e2e6;
        text-shadow: 0 0 5px #c0c0c7;
        font-size: 27px;
        font-weight: 700;
        text-align: center;
        padding: 35px;
        background-color: #00001d;
        text-transform: uppercase;
        border: none;
        position: sticky;
        top: 0;
        margin-bottom: 0;
        width: 100%;
        z-index: 3;
    }

    .div-especial {
        background-color:  $main-color;
        padding-top: 10px;
        margin: auto;

        .especial-pascua {
            color: $light-color;
            font-size: 26px;
            font-weight: 600; 
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 15px 0 10px 0;
            text-shadow:0 0 10px #0000009d;
        }

        .section1{
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center; 
            background-color: $main-color;
            height: 2000px;
            gap: 90px;

            .article-container {
                display: flex;
                background-color: #bdb9f5;
                flex-direction: column;
                transition: all 0.4s ease 0s;
                height: 400px;
                width: 320px;
                margin-bottom: 10px;
                margin-top: 40px;

                &:hover {
                    box-shadow: 0 0 50px #000000dc
                }

                .span-container {
                    background-color: $dark-color;
                    color: $light-color;
                    padding: 12px;
                    width: 70%;
                    box-shadow: 0 0 10px #000000ad;
                }

                .section-elemento1 {
                    width: 335px;
                    padding: 20px 0 0 0;
                    margin: auto;
                }

                img {
                    @include first-img (320px, cover);
                }
                
                p {
                    color: $light-color;
                    background-color: $dark-color;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: 15px; 
                }
            }

            .article-container2 {
                display: flex;
                background-color: #bdb9f5;
                flex-direction: column;
                transition: all 0.4s ease 0s;
                height: 400px;
                width: 320px;
                margin-bottom: 20px;

                &:hover {
                    box-shadow: 0 0 50px #000000dc
                }
                
                .span-container {
                    background-color: $dark-color;
                    color: $light-color;
                    padding: 12px;
                    width: 70%;
                    box-shadow: 0 0 10px #000000ad;
                }

                .section-elemento2 {
                    width: 305px;
                    padding: 40px 0 0 0;
                    margin: auto;
                }

                p {
                    color: $light-color;
                    background-color: $dark-color;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: 15px; 
                }
            }

            .article-container3 {
                display: flex;
                background-color: #bdb9f5;
                flex-direction: column;
                transition: all 0.4s ease 0s;
                height: 400px;
                width: 320px;

                &:hover {
                    box-shadow: 0 0 50px #000000dc
                }
                
                .span-container {
                    background-color: $dark-color;
                    color: $light-color;
                    padding: 12px;
                    width: 70%;
                    box-shadow: 0 0 10px #000000ad;
                }

                .section-elemnto3 {
                    @include section-3 (310px, cover, auto);
                }

                p {
                    color: $light-color;
                    background-color: $dark-color;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: 15px; 
                }
            }

            .article-container4 {
                display: flex;
                background-color: #bdb9f5;
                flex-direction: column;
                transition: all 0.4s ease 0s;
                height: 400px;
                width: 320px;
                margin-bottom: 140px;
                

                &:hover {
                    box-shadow: 0 0 50px #000000dc
                }
                
                .span-container {
                    background-color: $dark-color;
                    color: $light-color;
                    padding: 12px;
                    width: 70%;
                    box-shadow: 0 0 10px #000000ad;
                }

                .section-elemento4 {
                    width: 230px;
                    padding-bottom: 50px;
                    margin: auto;
                }

                p {
                    color: $light-color;
                    background-color: $dark-color;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: 15px; 
                }
            }
        }
    }

    .section-grid {
        background-color: $main-color;

        h2 {
            color: $light-color;
            font-size: 26px;
            font-weight: 600; 
            text-align: center;
            text-shadow: 0 0 10px #00001d;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 20px 0 0 0 ;    
        }

        .grid-container2 {
            max-width: 1000px;
            margin: auto;
            padding: 30px;

            .grid2 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, auto);
                gap: 40px;
                align-items: center;
                justify-content: center;

                .grid-item2 {
                    background-color: $dark-color;
                    padding: 10px;
                    border-radius: 25px;
                    width: 350px;
                    height: 560px;
                    transition: 0.4s;
                    position: relative;

                    &:hover {
                        box-shadow: 0 0 50px $dark-color;
                    }

                    img {
                        width: 100%;
                        height: 60%;
                        margin: auto;
                        object-fit: contain;
                        border-radius: 25px;
                    }

                    h3 {
                        color: #586c91;
                        padding: 10px 0 0 5px;
                        text-shadow: 0 0 2px #586c91;
                        
                    }

                    p {
                        text-align: start;
                        font-size: 20px;
                        color: $light-color;
                        padding: 3px 0 0 5px;
                    }

                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        padding: 15px 0 10px 0;
                        background-color: rgba(0, 0, 0, 0.7); 
                        color: $light-color;
                        text-shadow:0 0 10px  #ffffffe0;
                        font-weight: bold;
                        font-size: 20px;
                        text-align: center;
                        z-index: 1;
                        opacity: 0; 
                        transition: 0.4s;
                        border-top-right-radius: 25px;
                        border-top-left-radius: 25px;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    
        .section-grid2{
            background-color: $dark-color;

            h2 {
                color: $light-color;
                font-size: 26px;
                font-weight: 600; 
                text-align: center;
                text-shadow: 0 0 10px #00001d;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 20px 0 0 0 ;      
            }

            .grid-container3 {
                max-width: 1000px;
                margin: auto;
                padding: 30px;

                .grid3 {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, auto);
                    gap: 40px;
                    align-items: center;
                    justify-content: center;

                    .grid-item3 {
                        background-color:  $main-color;
                        padding: 10px;
                        border-radius: 20px;
                        width: 350px;
                        height: 560px;
                        transition: 0.4s;
                        position: relative;

                        &:hover {
                            box-shadow: 0 0 40px #414161;
                        }
                        
                        img {
                            width: 100%;
                            height: 60%;
                            margin: auto;
                            object-fit: contain;
                            border-radius: 25px;
                        }

                        h3 {
                            color: $dark-color;
                            padding: 10px 0 0 5px;
                            text-shadow: 0 0 2px $dark-color;
                        }

                        p {
                            text-align: start;
                            font-size: 20px;
                            color: $light-color;
                            padding: 3px 0 0 5px;
                        }

                        span {
                            position: absolute;
                            top:-20px;
                            left: -10px;
                            width: 25%;
                            height: 15%;
                            padding: 15px 0 15px 15px;
                            background-color: #414161; 
                            color: $light-color;
                            text-shadow:0 0 10px  #ffffffe0;
                            box-shadow: 0 0 10px $light-color;
                            font-weight: bold;
                            font-size: 22px;
                            z-index: 1;
                            opacity: 0; 
                            transition: 0.4s;
                            border-radius: 50%;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
}

@media only screen and (max-width: 1200px) { 

    main {

        .section-grid {

            .grid-container2 {

                .grid2 {
                    grid-template-columns: repeat(2, 50%);
                    gap: 20px;

                    .grid-item2 {
                        margin: 0 auto;
                    }
                }
            }
        }

        .section-grid2 {

            .grid-container3 {

                .grid3 {
                    grid-template-columns: repeat(2, 50%);
                    gap: 20px;

                    .grid-item3 {
                        margin: 0 auto;
                    }
                }
            }
        }
    }


    
}   

@media only screen and (max-width: 791px) {

    /* Productos */

    main {

        .section-grid {

            .grid-container2 {

                .grid2 {
                    display: flex;
                    flex-direction: column;

                    .grid-item2 {
                        margin: 0 auto;
                        width: 250px; 
                        height: 430px;

                        img {
                            object-fit: cover;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .section-grid2 {

            .grid-container3 {

                .grid3 {
                    display: flex;
                    flex-direction: column;

                    .grid-item3 {
                        margin: 0 auto;
                        width: 250px;
                        height: 400px;

                        img {
                            object-fit: cover;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}